<div class="main" *ngFor="let friend of childmessage">
   
    <div class="profile"> 
      <img  class="pic" src={{friend.Profile}} alt=""> 
    </div>
    <div class="name">{{friend.Name}}</div>
    <div class="gender">{{friend.Gender}} </div>
     <div class="depa">{{friend.Dept}} </div>
     <div class="salary">{{friend.salary}}</div>
     <div class="startDate">{{friend.Datename}}</div>
     <div class="notes"><img class="delete" (click)="openDialog(friend)" src="../../../assets/edit_FILL0_wght400_GRAD0_opsz48 (1).svg"  alt="">
      <img class="delete"(click)="deleteempl(friend.id)"  src="../../../assets/delete_FILL0_wght400_GRAD0_opsz48.svg" alt="">
    </div>
</div>
