.maindiv {
    height: 14vh;
    width: 100vw;
    display: flex;
    border: 1px solid gainsboro;
}

.menu {
    height: 100%;
    width: 30%;
    border: 0px solid blue;
    display: flex;
    flex-direction: column;
}
mat-toolbar{
    height: 100%;
    width: 100%;
    // background: blue;
}
.image{
    height: 40px;
    width: 40px;
    border: 1px solid gainsboro;
    margin-top: 15px;
}

.h1 {
    font-size: 22px;
    font-weight: 500;
}

.h2 {
    font-size: 22px;
    font-weight: 500;
}
.thread1{
    height: 100%;
    width:40%;
    border: 0px solid red;
    flex-direction: row;
    
}
.form1{
    height: 100%;
    width: 27%;
    display: flex;
    align-items: center;
    justify-content:flex-start;
}
.form2{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content:flex-start;
}
.form3{
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content:flex-start;
}


.t1{
    font-size: larger;
    font-weight: 600;
}

.h3 {
    font-size: larger;
    font-weight: 500;
}

.h4 {
    font-size: larger;
    font-weight: 500;
}

.l1 {
    height: 50%;
    width: 70%;
    border: 0px solid red;
}

.l2 {
    height: 50%;
    width: 70%;
    border: 0px solid red;
}
.middlecontainer{
    height: 110vh;
    width: 100vw;
    border:0px solid black ;
    display: flex;
}
.innerdiv{
    height: 100%;
    width: 70%;
    border: 1px solid gainsboro;
    margin-top: 5px;
}
.line1{
    height: 10%;
    width: 85%;
    border: 0px solid red;
}
.mid1{
    height: 90%;
    width: 100%;
    border: 0px solid blue;
    display: flex;
    flex-direction: row;
}
.left{
    height: 100%;
    width: 20%;
    border: 0px solid orange;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.left1{
    height:10%;
    width:60%;
    border: 0px solid green;
    display: flex;
    align-items: center;
justify-content: flex-start;
}
.left2{
    height:10%;
    width:60%;
    border: 0px solid green;
    display: flex;
    align-items: center;
justify-content: flex-start;
}
.left3{
    height:10%;
    width:60%;
    border: 0px solid green;
    display: flex;
    align-items: center;
justify-content: flex-start;
}
.left4{
    height:10%;
    width:60%;
    border: 0px solid green;
    display: flex;
    align-items: center;
justify-content: flex-start;
}
.left5{
    height:10%;
    width:60%;
    border: 0px solid green;
    display: flex;
    align-items: center;
justify-content: flex-start;
}
.left6{
    height:15%;
    width:60%;
    border: 0px solid green;
    display: flex;
    align-items: center;
justify-content: flex-start;
}
.left7{
    height:10%;
    width:60%;
    border: 0px solid green;
    display: flex;
    align-items: center;
justify-content: flex-start;
}
.right{
    height: 100%;
    width:100%;
    display: flex;
    border: 0px solid yellow;
    flex-direction: column;
}
.right1{
    height:10%;
    width:100%;
    border: 0px solid green;
    display: flex;
    align-items: center;
justify-content: flex-start;
}
.righta{
    height:10%;
    width:100%;
    border: 0px solid green;
    display: flex;
    align-items: center;
justify-content: flex-start;
}
.rightb{
    height:10%;
    width:100%;
    border: 0px solid green;
    display: flex;
    align-items: center;
justify-content: flex-start;
}
.rightc{
    height:10%;
    width:100%;
    border: 0px solid green;
    display: flex;
    align-items: center;
justify-content: flex-start;
}
.right3{
    height:10%;
    width:100%;
    border: 0px solid green;
    display: flex;
    align-items: center;
justify-content: flex-start;
}
.field6{
    height: 10px;
    width: 700px;
    font-size: 11px;
    border:none;
    background: none;
}
.g1{
    width:90%;
    height:100%;
    border: 0px solid gainsboro;
}
.field2 {
    height: 20px;
    width: 700px;
    border: 0px solid gainsboro;
    border-radius: 5px;
    font-size: 17px;

}
.feild4 {
    height: 30px;
    width: 30px;
    border: 0px solid red;
}
.radio{
    height: 100%;
    width: 80px;
    border: 0px solid pink;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.profile{
    height:80%;
    width:100%;
    border: 0px solid green;
    display: flex;
justify-content: flex-start;
}
.gender{
    height: 100%;
    width: 80px;
    border: 0px solid pink;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dept{
    height: 100%;
    width: 75px;
    border: 0px solid pink;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dept1{
    height: 100%;
    width: 90px;
    border: 0px solid pink;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dept2{
    height: 100%;
    width: 100px;
    border: 0px solid pink;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dept3{
    height: 100%;
    width: 115px;
    border: 0px solid pink;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dept4{
    height: 100%;
    width: 75px;
    border: 0px solid pink;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fill1{
    height: 55px;
    width: 200px;
    border-radius: 2px;
}
.fill2{
    height: 45px;
    width: 50px;
    border-radius: 2px;
}
.fill3{
    height: 45px;
    width: 150px;
    border-radius: 2px;
}
.fill4{
    height: 45px;
    width: 80px;
    border-radius: 2px;
}
.start{
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.right2{
    height:20%;
    width:100%;
    border: 0px solid green;
}
.g2{
    width:90%;
    height:100%;
    border: 0px solid red;
    position: relative;
    top: 10px;
}
.field1 {
    height: 100%;
    width: 100%;
    border: 0px solid gainsboro;
}
.field3{
    height: 60px;
    width: 700px;
    font-size: 18px;
}
.notes1{
    height:20%;
    width:100%;
    border: 0px solid green;
    display: flex;
    align-items: flex-end;
justify-content: flex-start;
}
.button1 {
    height: 30px;
    width: 100px;
    position: relative;
    top: 20px;
    right:70px;
}
.button2 {
    height: 30px;
    width: 100px;
    position: relative;
    left: 55px;
    top: 20px;
}
.button3 {
    height: 30px;
    width: 100px;
    position: relative;
    left: 10px;
    top: 20px;
}
.changebackground{
    background-color:white;
    border-radius: 10px;
}
@media only screen and (min-width :320px) and (max-width :480px) {
.maindiv{
    height:100px;
    width: 900px;
}

.menu{
// background: red;
}
mat-toolbar{
    height: 100%;
    // background: blue;
}
.image{
    height: 60px;
    width: 60px;
    margin-right: 32px;
}
.fz{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background: blue;
}
.l1{
    // background: red;
    position: relative;
    top: 10px;
    right: 30px;
}
.l2{
    position: relative;
    // top: 10px;
    right: 30px;  
}
.h1{
    font-size: xx-large;
}
.middlecontainer{
    height: 1010px;
    width: 810px;
    margin-left: 80px;
    border: 0px solid red;
}
.innerdiv{
    height: 100%;
    width: 100%;
    border: 0px solid red;
    display:flex ;
    align-items: center;
    justify-content: center;
}
.line1{
  height: 10%;
  width: 100%;

}
.thread1{
    height: 100%;
    width: 100%;
  
}
.form1{
    width: 16%;
    height: 100%;
    // background: red;
    margin-left: 14px;
}
.form2{
    height: 100%;
    width: 12%;
}
.form3{
    width: 20%;
}
.t1{
    font-size: x-large;
}
.mid1{
    height: 100%;
    width: 100%;
}
.left{
    height: 100%;
    width: 30%;
    display: flex;
    border: 0px solid red;
    align-items: flex-start;
}
.left1{
    height: 5%;
    border: 0px solid blue;
    display: flex;
    align-items: flex-start;
    font-weight: 500;
    font-size: larger;
}
.left2{
    border: 0px solid blue;
    height: 18%;
    display: flex;
    align-items: flex-start;
    font-weight: 500;
    font-size: larger;
}
.left3{
    height: 10%;
    display: flex;
    border: 0px solid blue;
    align-items: flex-start;
    font-weight: 500;
    font-size: larger;
}
.left4{
    height: 27%;
    display: flex;
    border: 0px solid red ;
    align-items: flex-start;
    font-weight: 500;
    font-size: larger;
}
.left5{
    height: 8%;
    display: flex;
    border: 0px solid red ;
    align-items: flex-start;
    font-weight: 500;
    font-size: larger;
}
.left6{
    height: 7%;
    display: flex;
    border: 0px solid red ;
    align-items: flex-start;
    font-weight: 500;
    font-size: larger;
}
.left7{
    height: 14%;
    display: flex;
    border: 0px solid red ;
    align-items: flex-start;
    font-weight: 500;
    font-size: larger;
}
.right3{
    height: 15%;
    display: flex;
    flex-direction: column;
    border: 0px solid red ;
    align-items: flex-start;
    justify-content: space-around;
  margin-left: 17px;
}
.gender{
    border: 0px solid red ;
}
.right{
    height: 100%;
    width: 100%;
}
.g1{
    width: 30%;
    margin-bottom: 10px;
}
.right1{
    height: 7%;
    display: flex;
    border: 0px solid red ;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    margin-top: -10px;
}
.righta{
    height: 25%;
    font-size: xx-large;
    display: flex;
    border: 0px solid red ;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}
.rightb{
    height: 36%;
    display: flex;
    border: 0px solid red ;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}
.rightc{
    height: 10%;
    display: flex;
    border: 0px solid red ;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}
.profile{
    height: 100%;
    border: 0px solid red;
    display: flex;
    flex-direction: column;
}
.fill1{
    width: 20%;
}
.Date{
    height: 10%;
    display: flex;
    border: 0px solid red ;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}
.button1 {
    height: 30px;
    width: 100px;
    position: relative;
    top: 20px;
    right:70px;
}
.button2 {
    height: 30px;
    width: 100px;
    position: relative;
    left: 55px;
    top: 20px;
}
.button3 {
    height: 30px;
    width: 100px;
    position: relative;
    left: 10px;
    top: 20px;
}
}
@media only screen and (min-width :481px) and (max-width :768px) {
    .maindiv{
        height:100px;
        width: 900px;
    }
    
    .menu{
    // background: red;
    }
    mat-toolbar{
        height: 100%;
        // background: blue;
    }
    .image{
        height: 60px;
        width: 60px;
        margin-right: 32px;
    }
    .fz{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // background: blue;
    }
    .l1{
        // background: red;
        position: relative;
        top: 10px;
        right: 30px;
    }
    .l2{
        position: relative;
        // top: 10px;
        right: 30px;  
    }
    .h1{
        font-size: xx-large;
    }
    .middlecontainer{
        height: 1210px;
        width: 810px;
        margin-left: 80px;
        border: 0px solid red;
    }
    .innerdiv{
        height: 100%;
        width: 100%;
        border: 0px solid red;
        display:flex ;
        align-items: center;
        justify-content: center;
    }
    .line1{
      height: 10%;
      width: 100%;
    
    }
    .thread1{
        height: 100%;
        width: 100%;
      
    }
    .form1{
        width: 16%;
        height: 100%;
        // background: red;
        margin-left: 14px;
    }
    .form2{
        height: 100%;
        width: 12%;
    }
    .form3{
        width: 20%;
    }
    .t1{
        font-size: x-large;
    }
    .mid1{
        height: 100%;
        width: 100%;
    }
    .left{
        height: 100%;
        width: 30%;
        display: flex;
        border: 0px solid red;
        align-items: flex-start;
    }
    .left1{
        height: 5%;
        border: 0px solid blue;
        display: flex;
        align-items: flex-start;
        font-weight: 500;
        font-size: larger;
    }
    .left2{
        border: 0px solid blue;
        height: 18%;
        display: flex;
        align-items: flex-start;
        font-weight: 500;
        font-size: larger;
    }
    .left3{
        height: 10%;
        display: flex;
        border: 0px solid blue;
        align-items: flex-start;
        font-weight: 500;
        font-size: larger;
    }
    .left4{
        height: 27%;
        display: flex;
        border: 0px solid red ;
        align-items: flex-start;
        font-weight: 500;
        font-size: larger;
    }
    .left5{
        height: 8%;
        display: flex;
        border: 0px solid red ;
        align-items: flex-start;
        font-weight: 500;
        font-size: larger;
    }
    .left6{
        height: 7%;
        display: flex;
        border: 0px solid red ;
        align-items: flex-start;
        font-weight: 500;
        font-size: larger;
    }
    .left7{
        height: 14%;
        display: flex;
        border: 0px solid red ;
        align-items: flex-start;
        font-weight: 500;
        font-size: larger;
    }
    .right3{
        height: 15%;
        display: flex;
        flex-direction: column;
        border: 0px solid red ;
        align-items: flex-start;
        justify-content: space-around;
      margin-left: 17px;
    }
    .gender{
        border: 0px solid red ;
    }
    .right{
        height: 100%;
        width: 100%;
    }
    .g1{
        width: 30%;
        margin-bottom: 10px;
    }
    .right1{
        height: 7%;
        display: flex;
        border: 0px solid red ;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
        margin-top: -10px;
    }
    .righta{
        height: 25%;
        font-size: xx-large;
        display: flex;
        border: 0px solid red ;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
    }
    .rightb{
        height: 36%;
        display: flex;
        border: 0px solid red ;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
    }
    .rightc{
        height: 10%;
        display: flex;
        border: 0px solid red ;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
    }
    .profile{
        height: 100%;
        border: 0px solid red;
        display: flex;
        flex-direction: column;
    }
    .fill1{
        width: 20%;
    }
    .Date{
        height: 10%;
        display: flex;
        border: 0px solid red ;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
    }
    .button1 {
        height: 30px;
        width: 100px;
        position: relative;
        top: 20px;
        right:50px;
    }
    .button2 {
        height: 30px;
        width: 100px;
        position: relative;
        left: 55px;
        top: 20px;
    }
    .button3 {
        height: 30px;
        width: 100px;
        position: relative;
        left: 10px;
        top: 20px;
    }
}
@media only screen and (min-width :769px) and (max-width :1024px) {
    .maindiv{
        height:100px;
        width: 900px;
    }
    mat-toolbar{
        height: 100%;
        // background: blue;
    }
    .middlecontainer{
        border: 1px solid red;
        height: 830px;
        width: 810px;
        margin-left: 80px;
        border: 0px solid red;
        
    }
    .innerdiv{
        height:100% ;
        width: 100%;
    }
    .line1{
        height: 10%;
        width: 100%;
      
      }
      .thread1{
          height: 100%;
          width: 100%;
        
      }
    .form1{
        width: 12%;
        height: 100%;
        // background: red;
        margin-left: 36px;
    }
    .form2{
        height: 100%;
        width: 10%;
    }
    .form3{
        width: 20%;
    }
    .left1{
        height: 8%;
        border: 0px solid blue;
        display: flex;
       
        font-weight: 500;
        font-size: larger;
    }
    .left2{
        border: 0px solid blue;
        height: 10%;
        display: flex;
        font-weight: 500;
        font-size: larger;
    }
    .left3{
        height: 10%;
        display: flex;
        border: 0px solid blue;
      
        font-weight: 500;
        font-size: larger;
    }
    .left4{
        height: 5%;
        display: flex;
        border: 0px solid red ;
       align-items: flex-start;
        font-weight: 500;
        font-size: larger;
    }
    .left5{
        height: 11%;
        display: flex;
        border: 0px solid red ;
       
        font-weight: 500;
        font-size: larger;
    }
    .left6{
        height: 7%;
        display: flex;
      
        font-weight: 500;
        font-size: larger;
    }
    .left7{
        height: 14%;
        display: flex;
        border: 0px solid red ;
       
        font-weight: 500;
        font-size: larger;
}
.right{
    height: 100%;
    width:100%;
    display: flex;
    border: 0px solid yellow;
    flex-direction: column;
}
.right1{
    height:8%;
    width:100%;
    border: 0px solid green;
    display: flex;
    align-items: center;
justify-content: flex-start;
margin-left: 20px;
}

.righta{
    height:10%;
    width:100%;
    border: 0px solid green;
    display: flex;
    align-items: flex-start;
justify-content: flex-start;
margin-left: 40px;
}
.rightb{
    height:4%;
    width:100%;
    border: 0px solid green;
    display: flex;
    align-items: flex-start;
margin-left: 70px;
}
.rightc{
    height:10%;
    width:100%;
    border: 0px solid green;
    display: flex;
    align-items: center;
justify-content: flex-start;
margin-left: 40px;
}
.right2{
    height:20%;
    width:100%;
    border: 0px solid green;
    display: flex;
    align-items: center;
justify-content: flex-start;
margin-left: 40px;
}
.right3{
    height:10%;
    width:100%;
    border: 0px solid green;
    display: flex;
    align-items: center;
justify-content: flex-start;
margin-left: 40px;
}
.Date
{
    height:10%;
    width:100%;
    border: 0px solid green;
    display: flex;
    align-items: center;
justify-content: flex-start;
margin-left: 40px; 
}
.field6{
    height: 10px;
    width: 700px;
    font-size: 11px;
    border:none;
    background: none;
}
.g1{
    width:90%;
    height:100%;
    border: 0px solid gainsboro;
}
.field2 {
    height: 20px;
    width: 700px;
    border: 0px solid gainsboro;
    border-radius: 5px;
    font-size: 17px;

}
.feild4 {
    height: 30px;
    width: 30px;
    border: 0px solid red;
}
.radio{
    height: 100%;
    width: 80px;
    border: 0px solid pink;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.profile{
    height:80%;
    width:100%;
    border: 0px solid green;
    display: flex;
justify-content: flex-start;
}
.gender{
    height: 100%;
    width: 80px;
    border: 0px solid pink;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dept{
    height: 100%;
    width: 75px;
    border: 0px solid pink;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dept1{
    height: 100%;
    width: 90px;
    border: 0px solid pink;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dept2{
    height: 100%;
    width: 100px;
    border: 0px solid pink;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dept3{
    height: 100%;
    width: 115px;
    border: 0px solid pink;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dept4{
    height: 100%;
    width: 75px;
    border: 0px solid pink;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fill1{
    height: 55px;
    width: 200px;
    border-radius: 2px;
}
.fill2{
    height: 45px;
    width: 50px;
    border-radius: 2px;
}
.fill3{
    height: 45px;
    width: 150px;
    border-radius: 2px;
}
.fill4{
    height: 45px;
    width: 80px;
    border-radius: 2px;
}
.start{
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.g2{
    width:90%;
    height:100%;
    border: 0px solid red;
    position: relative;
    top: 10px;
}
.field1 {
    height: 100%;
    width: 100%;
    border: 0px solid gainsboro;
}
.field3{
    height: 60px;
    width: 700px;
    font-size: 18px;
}
.notes1{
    height:20%;
    width:100%;
    border: 0px solid green;
    display: flex;
    align-items: flex-end;
justify-content: flex-start;
}
.button1 {
    height: 30px;
    width: 100px;
    position: relative;
    top: 20px;
    right:70px;
}
.button2 {
    height: 30px;
    width: 100px;
    position: relative;
    left: 55px;
    top: 20px;
}
.button3 {
    height: 30px;
    width: 100px;
    position: relative;
    left: 10px;
}
}