.middlecontainer{
    height: 100vh;
    width: 100vw;
    border:0px solid black ;
}
.innerdiv{
    height: 100%;
    width: 60%;
    border: 1px solid gainsboro;
}
.line1{
    height: 10%;
    width: 80%;
    border: 0px solid red;
}
.mid1{
    height: 90%;
    width: 100%;
    border: 0px solid blue;
    display: flex;
    flex-direction: row;
}
.left{
    height: 100%;
    width: 25%;
    border: 0px solid orange;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.left1{
    height:10%;
    width:60%;
    border: 0px solid green;
    display: flex;
    align-items: center;
justify-content: flex-start;
}
.left2{
    height:15%;
    width:60%;
    border: 0px solid green;
    display: flex;
    align-items: center;
justify-content: flex-start;
}
.right{
    height: 100%;
    width:75%;
    display: flex;
    border: 0px solid yellow;
    flex-direction: column;
}
.right1{
    height:10%;
    width:100%;
    border: 0px solid green;
    display: flex;
    align-items: center;
justify-content: flex-start;
}
.field2 {
    height: 40px;
    width: 500px;
    border: 1px solid gainsboro;
    border-radius: 5px;
}
.feild4 {
    height: 30px;
    width: 30px;
    border: 0px solid red;
}
.radio{
    height: 100%;
    width: 80px;
    border: 0px solid pink;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.profile{
    height:80%;
    width:100%;
    border: 0px solid green;
    display: flex;
justify-content: flex-start;
}
.gender{
    height: 100%;
    width: 80px;
    border: 0px solid pink;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dept{
    height: 100%;
    width: 75px;
    border: 0px solid pink;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dept1{
    height: 100%;
    width: 90px;
    border: 0px solid pink;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dept2{
    height: 100%;
    width: 100px;
    border: 0px solid pink;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dept3{
    height: 100%;
    width: 115px;
    border: 0px solid pink;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dept4{
    height: 100%;
    width: 75px;
    border: 0px solid pink;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fill1{
    height: 45px;
    width: 200px;
    border-radius: 2px;
}
.fill2{
    height: 45px;
    width: 50px;
    border-radius: 2px;
}
.fill3{
    height: 45px;
    width: 150px;
    border-radius: 2px;
}
.fill4{
    height: 45px;
    width: 80px;
    border-radius: 2px;
}
.start{
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.right2{
    height:15%;
    width:100%;
    border: 0px solid green;
    display: flex;
    align-items: flex-end;
justify-content: flex-start;
}
.field1 {
    height: 100%;
    width: 80%;
    border: 0px solid gainsboro;
}
.field3{
    height: 80px;
    width: 500px;
    position: relative;
    top: 10px;
}
.notes1{
    height:20%;
    width:100%;
    border: 0px solid green;
    display: flex;
    align-items: flex-end;
justify-content: flex-start;
}
.button1 {
    height: 30px;
    width: 100px;
    position: relative;
    right:70px;
}
.button2 {
    height: 30px;
    width: 100px;
    position: relative;
    left: 55px;
}
.button3 {
    height: 30px;
    width: 100px;
    position: relative;
    left: 10px;
}