
.maindiv{
    height: 100vh;
    width: 100vw;
    display: flex;
    border: 0px solid gainsboro;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    
}
.maindiv-xs{
   height: 100vh;
   width: 100vw;

}
.maindiv-md{
   height: 100vh;
   width: 100vw;

}
.subdic{
    height: 90%;
    width: 40%;
    display: flex;
    border: 1px solid gainsboro;
    flex-direction:column;
    flex-wrap: wrap;
    border-radius: 10px;
}
.subdic-xs{
   height: 100%;
   width: 100%;
   border: 0px;
}
.subdic-md{
   height: 100%;
   width: 100%;
  border: 0px solid gainsboro;
  margin-left: 60px;
  margin-top: 25px;
}

.content1
{
    height: 12%;
    width: 100%;
    font-size: 25px;
    font-weight: 500;
    border: 0px solid black;
   
}
.k1{
  width: 100%;
   font-size:25px ;
  height: 10%;
   border: 0px solid red;
   display: flex;
   align-items: center; 
   justify-content: center;
}
.k2{
  width: 100%;
   font-size:medium ;
  height: 5%;
  display: flex;
   border: 0px solid red; 
  align-items: flex-start;
  justify-content: center;
}
.k3{
 display: flex;
  border: 0px solid yellow; 
 height: 10%;
 width: 80%;
align-items: center;
justify-content: center;
flex-direction: column;
}
.field1{
    position: relative;
    left: 50px;
    top: 20px;
}
.box1{
    position: relative;
    left: 50px;
    top: 20px;
    border: 0px;
    color:rgb(0, 115, 255); 
    background:0px ;
    font-weight: 600;
}
.k4{
  height: 45%;
 width: 76%;
 font-size: 15px;
 color: rgb(113, 104, 104);
}


.k6{
    position: relative;
    border: 0px solid yellow; 
   height: 10%;
   width: 80%;
   top: 30px;
 
 }
 .box2{
    position: relative;
    left: 50px;
    top: 50px;
    border: 0px;
    color: rgb(0, 115, 255); 
    background:0px ;
    font-weight: 600;
 }
 .box3{
    position: relative;
    left: 50px;
    top: 20px;
    border: 0px;
    color: rgb(0, 115, 255);
    background:0px ;
    font-weight: 600;
 }
 .box4{
    position: relative;
    left: 55px;
    top: 35px;
    border: 0px;
    color: rgb(0, 115, 255); 
    background:0px ;
 }
 .k7{
   height: 45%;
  width: 76%;
  font-size: 15px;
  color: rgb(113, 104, 104);
 }
 .p3{
  display: flex;
   border: 0px solid greenyellow; 
  height: 10%;
  width: 100%;
 position: relative;
 top: 70px;
 left: 60px;
 
 }

 .box5{
    position: relative;
    left: 55px;
    top: 100px;
    border: 0px;
    color: rgb(0, 115, 255); 
    background:0px ;
    font-weight: 600;
 }
 
 .box6{
    position: relative;
    left: 400px;
    top: 80px;
    border: 0px solid red;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 70px;
    background:rgb(0, 115, 255); 
    border-radius: 5px;
 }

 .error-xs{
   position: relative;
   bottom: 2px;
 }
 .p8{
   height: 20px;
   width: 80px;
 }
 @media only screen and (min-width :280px) and (max-width :320px) {
   .p8{
      position: relative;
      right: 80px;
   }
   .maindiv{
      height: 800px;
      width: 360px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
   .subdic{
      width: 100%;
      height: 100%;
      display: flex;
      border: 0px solid red;
      flex-direction: column;
      // align-items: center;
      // justify-content: center;
   }
 } 
 @media only screen and (min-width :320px) and (max-width :480px) {
   
   .p8{
      position: relative;
      right: 80px;
   }
   .maindiv{
      height: 800px;
      width: 360px;
      border: 0px solid red;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
   .subdic{
      width: 100%;
      height: 100%;
      display: flex;
      border: 0px solid red;
      flex-direction: column;
      // align-items: center;
      // justify-content: center;
   }
   .box6{
           margin-right: 70px;
         }

 }
 @media only screen and (min-width :481px) and (max-width :598px){
   .maindiv{
      height: 113vh;
      width: 113vw;
      border: 0px solid red;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   } 
   .subdic{
         height:90%;
         width: 90%;
        border: 1px solid gainsboro;

      }
      .field1{
            height: 70px;
            width: 400px;
         }
         .button3{
               position: relative;
            top: 10px;
         }
         // .box6{
         //    // margin-left: 100px;
         // }
 }
 @media only screen and (min-width :599px) and (max-width :1024px){
   .maindiv{
         height: 100vh;
         width: 100vw;
         border: 0px solid red;
      } 
      .subdic{
            height:5000px;
            width: 600px;
           border: 1px solid gainsboro;
          margin-top: 30px;
          margin-left: 30px;
         }
         .field1{
               height: 70px;
               width: 500px;
            }
            .button3{
                  position: relative;
               top: 10px;
            }
            .box6{
               margin-left: 100px;
            }
 }
