
    <mat-toolbar>
        <div class="menu" fxLayout="column" fxLayoutAlign="center center">
            <div class="l1">
                <span style="color:rgba(0, 128, 0, 0.582) ;" class="h1">E</span>
                <span style="color:rgba(0, 128, 0, 0.582) ;" class="h1">m</span>
                <span style="color:rgba(0, 128, 0, 0.582) ;" class="h1">p</span>
                <span style="color:rgba(0, 128, 0, 0.582) ;" class="h1">l</span>
                <span style="color:rgba(0, 128, 0, 0.582) ;" class="h1">o</span>
                <span style="color:rgba(0, 128, 0, 0.582) ;" class="h1">y</span>
                <span style="color:rgba(0, 128, 0, 0.582) ;" class="h1">e</span>
                <span style="color:rgba(0, 128, 0, 0.582) ;" class="h1">e</span>
            </div>
            <div class="l2">
                <span style="color:rgb(4, 4, 40) ;" class="h1">P</span>
                <span style="color:rgb(4, 4, 40) ;" class="h1">a</span>
                <span style="color:rgb(4, 4, 40) ;" class="h1">y</span>
                <span style="color:rgb(4, 4, 40) ;" class="h1">r</span>
                <span style="color:rgb(4, 4, 40) ;" class="h1">o</span>
                <span style="color:rgb(4, 4, 40) ;" class="h1">l</span>
                <span style="color:rgb(4, 4, 40) ;" class="h1">l</span>
            </div>
        </div>
    </mat-toolbar>
<div class="middlecontainer" fxLayout="row" fxLayoutAlign="center start">
    <div class="innerdiv" fxLayout="column" fxLayoutAlign="start center">
        <div class="line1" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="thread1" fxLayout="row" fxLayoutAlign="start center">
                <div class="form1">
                    <span style="color:rgb(4, 4, 40) ;" class="t1">E</span>
                    <span style="color:rgb(4, 4, 40) ;" class="t1">m</span>
                    <span style="color:rgb(4, 4, 40) ;" class="t1">p</span>
                    <span style="color:rgb(4, 4, 40) ;" class="t1">l</span>
                    <span style="color:rgb(4, 4, 40) ;" class="t1">o</span>
                    <span style="color:rgb(4, 4, 40) ;" class="t1">y</span>
                    <span style="color:rgb(4, 4, 40) ;" class="t1">e</span>
                    <span style="color:rgb(4, 4, 40) ;" class="t1">e</span>
                </div>
                <div class="form2">
                    <span style="color:rgb(4, 4, 40) ;" class="t1">D</span>
                    <span style="color:rgb(4, 4, 40) ;" class="t1">e</span>
                    <span style="color:rgb(4, 4, 40) ;" class="t1">t</span>
                    <span style="color:rgb(4, 4, 40) ;" class="t1">a</span>
                    <span style="color:rgb(4, 4, 40) ;" class="t1">i</span>
                    <span style="color:rgb(4, 4, 40) ;" class="t1">l</span>
                    <span style="color:rgb(4, 4, 40) ;" class="t1">s</span>
                </div>

            </div>
            <button class="adduser" routerLink="/employeedetails">+Add User</button>
        </div>
        <div class="line2">
            <div class="name1">
                <span class="profile">PROFILE</span>
                <span class="profile">NAME</span>
                <span class="profile">GENDER</span>
                <span class="profile">DEPARTMENT</span>
                <span class="profile">SALARY</span>
                <span class="profile">STARTDATE</span>
                <span class="profile">ACTIONS</span>
            </div>
        </div>
        <div class="userdetails">
            <app-icon [childmessage]="array" (deletedetails)="receivemessage($event)" (updateemployee)="reciveupdate($event)"></app-icon>
        </div>
    </div>
</div>